
<!DOCTYPE html>
<HTML>
  <HEAD>
    <title>Backwater Creek Community Library - Book Details</title>
    <LINK href="res/styles.css" type="text/css" rel="stylesheet">

  </HEAD>
  <body link="#660000">
    <form method="get" >

<!-- header here -->

    
      <table cellpadding="5" cellspacing="5" align="center" width="100%">

        <tr>
          <td valign="top" align="right" width="200"><b>Title:</b></td>
          <td valign="top">{{Title}}</td>
        </tr>

        <tr>
          <td valign="top" align="right"><b>Author:</b></td>
          <td valign="top">{{Author}}</td>
        </tr>
        <tr>
          <td valign="top" align="right"><b>Additional Author:</b></td>
          <td valign="top">{{AdditionalAuthor}}</td>

        </tr>
        <tr>
          <td valign="top" align="right"><b>Call Number:</b></td>
          <td valign="top">{{CallNumber}}</td>
        </tr>
        <tr>
          <td valign="top" align="right"><b>Publication Info:</b></td>

          <td valign="top">{{PublicationInfo}}</td>
        </tr>
        <tr>
          <td valign="top" align="right"><b>Description:</b></td>
          <td valign="top">{{Description}}</td>
        </tr>
        <tr>

          <td valign="top" align="right"><b>Series:</b></td>
          <td valign="top">{{Series}}</td>
        </tr>
        <tr>
          <td align="right" valign="top"><b>Subject Categories:</b></td>
          <td valign="top">{{SubjectCategories}}</td>
        </tr>

      </table>
      <P>&nbsp;</P>
      <P>
    </form>
  </body>
</HTML>
