<!DOCTYPE html>
<HTML>
  <HEAD>
    <title>Backwater Creek Community Library - Simple Search</title>
    <LINK href="res/style.css" type="text/css" rel="stylesheet">

  </HEAD>
  <body link="#660000">

<!-- header from main -->


  <form method="get" action="search" >

    <P>Search by Title:
      <input name="txtTitle" type="text" value="{{keyWord}}" />&nbsp;<input type="submit" name="btnSearch" value="Search" />&nbsp;
    </P>

      <P><a href="/search?startIndex={{prevIndex}}&txtTitle={{keyWord}}&btnSearch=Search">&lt;&lt;&nbsp;Prev</a> Page {{currentPage}} of {{totalPages}} ({{resultCount}} matches) <a href="/search?startIndex={{nextIndex}}&txtTitle={{keyWord}}&btnSearch=Search">Next&nbsp;&gt;&gt;</a></P>

      <P><table id="tblResults" cellspacing="0" cellpadding="5" align="Left" bordercolor="Gray" border="0">
	<tr>
		<td align="Left" valign="Top" width="25%"><b>Author</b></td><td align="Left" valign="Top" width="75%"><b>Title</b></td>

	</tr><tr>

  {{#each results}}
	</tr><tr>
		<td align="Left" valign="Top">{{author}}</td><td align="Left" valign="Top"><a href='/details?book_id={{id}}' alt=''>{{title}} ...</a></td>
	</tr>
  {{/each}}

 	</tr><tr>
		<td align="Left" valign="Top">{{errMsg}}</td><td align="Left" valign="Top"></td>
	</tr>

</table>
      <br>
      <br>
      <P>&nbsp;</P>
      <P>&nbsp;</P>

      <P>&nbsp;</P>
      <P>&nbsp;</P>
    </form>
  </body>
</HTML>
